
 <ng-template #create>
    <h3> Create New Contact </h3>
 </ng-template>
<div class="container">
    <form [formGroup]="userForm" (ngSubmit)="onUserFormSubmit()">
      <div class=" formOuter">
        <div class="row">
          <div class="col-md-6">
              <!-- <label>ID</label> 
              <input type="text" class="form-control" style="width: 80%" />-->
            
              <label> First Name  </label>
              <label *ngIf="userForm.get('first_name').invalid && processValidation" [ngClass] = "'error'"> is required. </label>
              <input type="text" class="form-control" formControlName="first_name" style="width: 80%" />
              <br />
              <label > Email  </label>
              <label *ngIf="userForm.get('email').invalid && processValidation" [ngClass] = "'error'"> is required. </label>
              <input type="text" class="form-control"  formControlName="email" style="width: 80%" />
              <br />
            </div>
            <div class="col-md-6">
                <label > Last Name  </label>
                <label *ngIf="userForm.get('last_name').invalid && processValidation" [ngClass] = "'error'">  is required. </label>
                <input type="text"  class="form-control" formControlName="last_name" style="width: 80%" />
                <br />
                
                <label > Phone </label>
                <label *ngIf="userForm.get('phone_number').invalid && processValidation" [ngClass] = "'error'"> is required. </label>
                <input type="number" class="form-control"  formControlName="phone_number" style="width: 80%" />
               
            </div>
            <div class="col-md-6">
               
                <label > Status </label>
                <label *ngIf="userForm.get('status').invalid && processValidation" [ngClass] = "'error'"> is required. </label>
                <!-- <input type="text" class="form-control"  formControlName="status" style="width: 80%" />-->
                <select class="form-control" formControlName="status" style="width: 80%">
                  <option value=""  selected disabled>Select status</option>
                  <option value="Active">Active</option>
                  <option value="Deactive">Deactive</option>
                </select> 
                <span>Status should be Active / Deactive</span>
            </div>
           
        </div>
        <div class="row">
    
            <div class="col-md-12" style="margin: 10px 0px;">
            <button *ngIf="!articleIdToUpdate" class="btn btn-primary">CREATE</button>  
            <button *ngIf="articleIdToUpdate" class="btn btn-primary">UPDATE</button>  
            <button (click)="backToCreateArticle()" *ngIf="articleIdToUpdate" class="btn btn-primary">Go Back</button> 
            </div>
          </div>
      </div>

      
    </form>
  
  <table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Email</th>
        <th scope="col">Phone</th>
        <th scope="col">Status</th>
        <th scope="col" colspan="2">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        
        <th scope="row">{{user.id}}</th>
        <td>{{user.first_name}}</td>
        <td>{{user.last_name}}</td>
        <td>{{user.email}}</td>
        <td>{{user.phone_number}}</td>
        <td>{{user.status}}</td>
        <td><button class="btn btn-primary" (click)="EditContact(user.id)">Edit</button></td>
        <td><button class="btn btn-primary" (click)="deleteContact(user.id)">Delete</button></td>
      </tr>
      
    </tbody>
  </table>
</div>

